.note {
  border-radius: 3px;
  border: 1px solid #f2e5bd;
  background-color: #fdf7e3;

  .note_header {
    padding: 9px;
    color: rgb(121, 121, 121);
    background-color: #fbf2d4;
  }

  .note_body {
    padding: 9px;
    font-size: 13px;
    
    .note_list {
      display: flex;

      p {
        color: rgb(100, 100, 100);
        letter-spacing: 0;
        margin-top: 3px;
        font-weight: 500;
      }

      .icon {
        color: #ec7a7a;
        margin-right: 3px;
      }
    }
  }
}